##### Cake Revenue Weekly Challenge

Requirements:

- Provide report using the data files provided
    - Weekly Revenue on Cake Sales
    - Monthly Revenue on Cake Sales
    - Yearly Revenue on Cake Sales


Tasks:


- Combine all data files in to one source
- Add dates to each row, with the bottom row being today (23/05/2020) 
- Reverse the data so that today's data is top
- Add column to capture total revenue for basic cakes (multiply by 5)
- Add column to capture total revenue for deluxe cakes (multiply by 6)
- Add Total revenue column which is the sum of basic and delux revenue total

In [1]:
import pandas as pd

In [2]:
basic_cake_sales_raw = pd.read_csv('Basic.txt')
deluxe_cake_sales_raw = pd.read_csv('Delux.txt')
total_revenue_cake_sales_raw = pd.read_csv('Total.txt')

basic_cake_sales_raw

     Basic Cupcake:
0                 4
1                 1
2                11
3                11
4                12
..              ...
995              12
996               8
997              13
998               5
999               2

[1000 rows x 1 columns]

In [3]:
deluxe_cake_sales_raw

     Delux Cupcakes:
0                 14
1                  8
2                  3
3                  7
4                 12
..               ...
995                7
996                5
997                7
998                5
999                7

[1000 rows x 1 columns]

In [4]:
total_revenue_cake_sales_raw

     Total:
0       104
1        53
2        73
3        97
4       132
..      ...
995     102
996      70
997     107
998      55
999      52

[1000 rows x 1 columns]

In [5]:
basic_cake_sales_raw['Delux Cupcakes'] = deluxe_cake_sales_raw['Delux Cupcakes:'].values
basic_cake_sales_raw['Total'] = total_revenue_cake_sales_raw['Total:'].values
basic_cake_sales_raw

     Basic Cupcake:  Delux Cupcakes  Total
0                 4              14    104
1                 1               8     53
2                11               3     73
3                11               7     97
4                12              12    132
..              ...             ...    ...
995              12               7    102
996               8               5     70
997              13               7    107
998               5               5     55
999               2               7     52

[1000 rows x 3 columns]

In [6]:
combined_raw_data_df = basic_cake_sales_raw.copy()
combined_raw_data_df

     Basic Cupcake:  Delux Cupcakes  Total
0                 4              14    104
1                 1               8     53
2                11               3     73
3                11               7     97
4                12              12    132
..              ...             ...    ...
995              12               7    102
996               8               5     70
997              13               7    107
998               5               5     55
999               2               7     52

[1000 rows x 3 columns]

In [7]:
combined_raw_data_df['created_date'] = pd.date_range(end='23/5/2020', periods=len(combined_raw_data_df), freq='D')
combined_raw_data_df

     Basic Cupcake:  Delux Cupcakes  Total created_date
0                 4              14    104   2017-08-28
1                 1               8     53   2017-08-29
2                11               3     73   2017-08-30
3                11               7     97   2017-08-31
4                12              12    132   2017-09-01
..              ...             ...    ...          ...
995              12               7    102   2020-05-19
996               8               5     70   2020-05-20
997              13               7    107   2020-05-21
998               5               5     55   2020-05-22
999               2               7     52   2020-05-23

[1000 rows x 4 columns]

In [8]:
combined_ordered_raw_data_df = combined_raw_data_df[::-1]
combined_ordered_raw_data_df

     Basic Cupcake:  Delux Cupcakes  Total created_date
999               2               7     52   2020-05-23
998               5               5     55   2020-05-22
997              13               7    107   2020-05-21
996               8               5     70   2020-05-20
995              12               7    102   2020-05-19
..              ...             ...    ...          ...
4                12              12    132   2017-09-01
3                11               7     97   2017-08-31
2                11               3     73   2017-08-30
1                 1               8     53   2017-08-29
0                 4              14    104   2017-08-28

[1000 rows x 4 columns]

In [9]:
combined_columns_ordered_raw_data_df = combined_ordered_raw_data_df[['created_date', 'Basic Cupcake:', 'Delux Cupcakes', 'Total']].reset_index(drop=True)
combined_columns_ordered_raw_data_df

    created_date  Basic Cupcake:  Delux Cupcakes  Total
0     2020-05-23               2               7     52
1     2020-05-22               5               5     55
2     2020-05-21              13               7    107
3     2020-05-20               8               5     70
4     2020-05-19              12               7    102
..           ...             ...             ...    ...
995   2017-09-01              12              12    132
996   2017-08-31              11               7     97
997   2017-08-30              11               3     73
998   2017-08-29               1               8     53
999   2017-08-28               4              14    104

[1000 rows x 4 columns]

In [10]:
fresh_df = combined_columns_ordered_raw_data_df.copy()
fresh_df


fresh_df['Total Basic Cupcake'] = fresh_df['Basic Cupcake:'] * 5
fresh_df


fresh_df['Total Deluxe Cupcake'] = fresh_df['Delux Cupcakes'] * 6
fresh_df

final_basic_draft_df = fresh_df[['created_date', 'Basic Cupcake:', 'Delux Cupcakes', 'Total Basic Cupcake', 'Total Deluxe Cupcake', 'Total']]
final_basic_draft_df

,created_date,Basic Cupcake:,Delux Cupcakes,Total Basic Cupcake,Total Deluxe Cupcake,Total
0,2020-05-23,2,7,10,42,52
1,2020-05-22,5,5,25,30,55
2,2020-05-21,13,7,65,42,107
3,2020-05-20,8,5,40,30,70
4,2020-05-19,12,7,60,42,102
...,...,...,...,...,...,...
995,2017-09-01,12,12,60,72,132
996,2017-08-31,11,7,55,42,97
997,2017-08-30,11,3,55,18,73
998,2017-08-29,1,8,5,48,53
999,2017-08-28,4,14,20,84,104

In [11]:
daily_cake_revenue_df = final_basic_draft_df.set_index('created_date')
daily_cake_revenue_df

,Basic Cupcake:,Delux Cupcakes,Total Basic Cupcake,Total Deluxe Cupcake,Total
created_date,,,,,
2020-05-23,2,7,10,42,52
2020-05-22,5,5,25,30,55
2020-05-21,13,7,65,42,107
2020-05-20,8,5,40,30,70
2020-05-19,12,7,60,42,102
...,...,...,...,...,...
2017-09-01,12,12,60,72,132
2017-08-31,11,7,55,42,97
2017-08-30,11,3,55,18,73
2017-08-29,1,8,5,48,53
2017-08-28,4,14,20,84,104

In [12]:
yearly_cake_revenue = daily_cake_revenue_df.resample('AS-MAY').sum()
yearly_cake_revenue

,Basic Cupcake:,Delux Cupcakes,Total Basic Cupcake,Total Deluxe Cupcake,Total
created_date,,,,,
2017-05-01,1983,2022,9915,12132,22047
2018-05-01,2996,2963,14980,17778,32758
2019-05-01,3041,2923,15205,17538,32743
2020-05-01,215,183,1075,1098,2173

In [13]:
monthly_cake_revenue = daily_cake_revenue_df.resample('MS').sum()
monthly_cake_revenue

,Basic Cupcake:,Delux Cupcakes,Total Basic Cupcake,Total Deluxe Cupcake,Total
created_date,,,,,
2017-08-01,27,32,135,192,327
2017-09-01,258,232,1290,1392,2682
2017-10-01,222,266,1110,1596,2706
2017-11-01,273,284,1365,1704,3069
2017-12-01,255,264,1275,1584,2859
2018-01-01,222,195,1110,1170,2280
2018-02-01,221,193,1105,1158,2263
2018-03-01,258,285,1290,1710,3000
2018-04-01,247,271,1235,1626,2861
2018-05-01,224,226,1120,1356,2476
2018-06-01,251,251,1255,1506,2761
2018-07-01,263,244,1315,1464,2779
2018-08-01,253,229,1265,1374,2639
2018-09-01,245,204,1225,1224,2449
2018-10-01,268,244,1340,1464,2804
2018-11-01,255,280,1275,1680,2955
2018-12-01,222,258,1110,1548,2658
2019-01-01,265,248,1325,1488,2813
2019-02-01,224,264,1120,1584,2704
2019-03-01,254,239,1270,1434,2704
2019-04-01,272,276,1360,1656,3016
2019-05-01,254,226,1270,1356,2626
2019-06-01,233,258,1165,1548,2713
2019-07-01,251,273,1255,1638,2893
2019-08-01,278,239,1390,1434,2824
2019-09-01,212,208,1060,1248,2308
2019-10-01,237,226,1185,1356,2541
2019-11-01,283,244,1415,1464,2879
2019-12-01,282,273,1410,1638,3048
2020-01-01,249,269,1245,1614,2859
2020-02-01,253,218,1265,1308,2573
2020-03-01,289,244,1445,1464,2909
2020-04-01,220,245,1100,1470,2570
2020-05-01,215,183,1075,1098,2173

In [14]:
weekly_cake_revenue = daily_cake_revenue_df.resample('W-MON').sum()
weekly_cake_revenue

,Basic Cupcake:,Delux Cupcakes,Total Basic Cupcake,Total Deluxe Cupcake,Total
created_date,,,,,
2017-08-28,4,14,20,84,104
2017-09-04,45,50,225,300,525
2017-09-11,63,44,315,264,579
2017-09-18,55,61,275,366,641
2017-09-25,65,40,325,240,565
...,...,...,...,...,...
2020-04-27,46,57,230,342,572
2020-05-04,52,59,260,354,614
2020-05-11,71,78,355,468,823
2020-05-18,81,48,405,288,693
2020-05-25,40,31,200,186,386

In [38]:
def validate_total_revenue_for_data_set(df, column):
    return df[column].sum()
    



print(f"Total Weekly Revenue Dataset: £{validate_total_revenue_for_data_set(weekly_cake_revenue, 'Total')}")
print(f"Total Monthly Revenue Dataset: £{validate_total_revenue_for_data_set(monthly_cake_revenue, 'Total')}")
print(f"Total Yearly Revenue Dataset: £{validate_total_revenue_for_data_set(yearly_cake_revenue, 'Total')}")

Total Weekly Revenue Dataset: £89721
Total Monthly Revenue Dataset: £89721
Total Yearly Revenue Dataset: £89721

In [39]:
with pd.option_context("display.max_rows", 999, "display.max_columns", 10):
    cake_revenue_overall_view = daily_cake_revenue_df.groupby([(daily_cake_revenue_df.index.year.rename('Year')),
                                                           (daily_cake_revenue_df.index.month.rename('Month')),
                                                           (daily_cake_revenue_df.index.week.rename('Week'))]).sum()

    display(cake_revenue_overall_view)

                 Basic Cupcake:  Delux Cupcakes  Total Basic Cupcake  \
Year Month Week
2017 8     35                27              32                  135
     9     35                21              31                  105
           36                50              44                  250
           37                61              51                  305
           38                61              48                  305
           39                65              58                  325
     10    39                 3               6                   15
           40                63              56                  315
           41                52              78                  260
           42                46              51                  230
           43                41              60                  205
           44                17              15                   85
     11    44                47              49                  235
           45                52              67                  260
           46                71              68                  355
           47                74              67                  370
           48                29              33                  145
     12    48                24              18                  120
           49                55              58                  275
           50                66              80                  330
           51                54              50                  270
           52                56              58                  280
2018 1     1                 53              65                  265
           2                 46              47                  230
           3                 51              39                  255
           4                 53              33                  265
           5                 19              11                   95
     2     5                 25              20                  125
           6                 60              69                  300
           7                 58              53                  290
           8                 54              33                  270
           9                 24              18                  120
     3     9                 34              40                  170
           10                58              75                  290
           11                71              49                  355
           12                56              63                  280
           13                39              58                  195
     4     13                 2               8                   10
           14                48              69                  240
           15                69              70                  345
           16                43              55                  215
           17                72              67                  360
           18                13               2                   65
     5     18                62              31                  310
           19                62              72                  310
           20                37              55                  185
           21                38              54                  190
           22                25              14                  125
     6     22                26              34                  130
           23                64              50                  320
           24                53              47                  265
           25                59              58                  295
           26                49              62                  245
     7     26                10              10                   50
           27                81              57                  405
           28                52              52                  260
           29                61              42                  305
           30                50              69                  250
           31                 9              14                   45
     8     31                31              24                  155
           32                70              48                  350
           33                56              74                  280
           34                41              52                  205
           35                55              31                  275
     9     35                21              14                  105
           36                48              64                  240
           37                42              32                  210
           38                60              50                  300
           39                74              44                  370
     10    40                72              54                  360
           41                51              64                  255
           42                57              46                  285
           43                64              60                  320
           44                24              20                  120
     11    44                24              26                  120
           45                77              41                  385
           46                65              84                  325
           47                45              71                  225
           48                44              58                  220
     12    1                  8              11                   40
           48                23              20                  115
           49                33              56                  165
           50                46              49                  230
           51                64              57                  320
           52                48              65                  240
2019 1     1                 51              65                  255
           2                 61              43                  305
           3                 40              43                  200
           4                 74              72                  370
           5                 39              25                  195
     2     5                 23              29                  115
           6                 67              64                  335
           7                 50              69                  250
           8                 44              58                  220
           9                 40              44                  200
     3     9                 36               7                  180
           10                63              41                  315
           11                55              60                  275
           12                40              47                  200
           13                60              84                  300
     4     14                59              54                  295
           15                72              73                  360
           16                63              72                  315
           17                65              63                  325
           18                13              14                   65
     5     18                36              57                  180
           19                62              37                  310
           20                63              55                  315
           21                52              63                  260
           22                41              14                  205
     6     22                21              25                  105
           23                62              64                  310
           24                53              55                  265
           25                44              64                  220
           26                53              50                  265
     7     27                48              60                  240
           28                64              58                  320
           29                54              63                  270
           30                58              67                  290
           31                27              25                  135
     8     31                39              35                  195
           32                57              44                  285
           33                69              62                  345
           34                59              46                  295
           35                54              52                  270
     9     35                 5              13                   25
           36                39              56                  195
           37                33              46                  165
           38                69              47                  345
           39                63              45                  315
           40                 3               1                   15
     10    40                50              52                  250
           41                43              44                  215
           42                52              44                  260
           43                56              54                  280
           44                36              32                  180
     11    44                31              17                  155
           45                59              57                  295
           46                72              51                  360
           47                55              65                  275
           48                66              54                  330
     12    1                 15              22                   75
           48                15              14                   75
           49                50              61                  250
           50                59              73                  295
           51                64              64                  320
           52                79              39                  395
2020 1     1                 36              44                  180
           2                 76              65                  380
           3                 51              55                  255
           4                 63              56                  315
           5                 23              49                  115
     2     5                 17              20                   85
           6                 61              59                  305
           7                 65              36                  325
           8                 56              51                  280
           9                 54              52                  270
     3     9                  7              11                   35
           10                77              64                  385
           11                81              43                  405
           12                45              54                  225
           13                63              62                  315
           14                16              10                   80
     4     14                40              36                  200
           15                53              55                  265
           16                48              57                  240
           17                37              56                  185
           18                42              41                  210
     5     18                19              25                   95
           19                66              65                  330
           20                78              59                  390
           21                52              34                  260

                 Total Deluxe Cupcake  Total
Year Month Week
2017 8     35                     192    327
     9     35                     186    291
           36                     264    514
           37                     306    611
           38                     288    593
           39                     348    673
     10    39                      36     51
           40                     336    651
           41                     468    728
           42                     306    536
           43                     360    565
           44                      90    175
     11    44                     294    529
           45                     402    662
           46                     408    763
           47                     402    772
           48                     198    343
     12    48                     108    228
           49                     348    623
           50                     480    810
           51                     300    570
           52                     348    628
2018 1     1                      390    655
           2                      282    512
           3                      234    489
           4                      198    463
           5                       66    161
     2     5                      120    245
           6                      414    714
           7                      318    608
           8                      198    468
           9                      108    228
     3     9                      240    410
           10                     450    740
           11                     294    649
           12                     378    658
           13                     348    543
     4     13                      48     58
           14                     414    654
           15                     420    765
           16                     330    545
           17                     402    762
           18                      12     77
     5     18                     186    496
           19                     432    742
           20                     330    515
           21                     324    514
           22                      84    209
     6     22                     204    334
           23                     300    620
           24                     282    547
           25                     348    643
           26                     372    617
     7     26                      60    110
           27                     342    747
           28                     312    572
           29                     252    557
           30                     414    664
           31                      84    129
     8     31                     144    299
           32                     288    638
           33                     444    724
           34                     312    517
           35                     186    461
     9     35                      84    189
           36                     384    624
           37                     192    402
           38                     300    600
           39                     264    634
     10    40                     324    684
           41                     384    639
           42                     276    561
           43                     360    680
           44                     120    240
     11    44                     156    276
           45                     246    631
           46                     504    829
           47                     426    651
           48                     348    568
     12    1                       66    106
           48                     120    235
           49                     336    501
           50                     294    524
           51                     342    662
           52                     390    630
2019 1     1                      390    645
           2                      258    563
           3                      258    458
           4                      432    802
           5                      150    345
     2     5                      174    289
           6                      384    719
           7                      414    664
           8                      348    568
           9                      264    464
     3     9                       42    222
           10                     246    561
           11                     360    635
           12                     282    482
           13                     504    804
     4     14                     324    619
           15                     438    798
           16                     432    747
           17                     378    703
           18                      84    149
     5     18                     342    522
           19                     222    532
           20                     330    645
           21                     378    638
           22                      84    289
     6     22                     150    255
           23                     384    694
           24                     330    595
           25                     384    604
           26                     300    565
     7     27                     360    600
           28                     348    668
           29                     378    648
           30                     402    692
           31                     150    285
     8     31                     210    405
           32                     264    549
           33                     372    717
           34                     276    571
           35                     312    582
     9     35                      78    103
           36                     336    531
           37                     276    441
           38                     282    627
           39                     270    585
           40                       6     21
     10    40                     312    562
           41                     264    479
           42                     264    524
           43                     324    604
           44                     192    372
     11    44                     102    257
           45                     342    637
           46                     306    666
           47                     390    665
           48                     324    654
     12    1                      132    207
           48                      84    159
           49                     366    616
           50                     438    733
           51                     384    704
           52                     234    629
2020 1     1                      264    444
           2                      390    770
           3                      330    585
           4                      336    651
           5                      294    409
     2     5                      120    205
           6                      354    659
           7                      216    541
           8                      306    586
           9                      312    582
     3     9                       66    101
           10                     384    769
           11                     258    663
           12                     324    549
           13                     372    687
           14                      60    140
     4     14                     216    416
           15                     330    595
           16                     342    582
           17                     336    521
           18                     246    456
     5     18                     150    245
           19                     390    720
           20                     354    744
           21                     204    464

In [40]:
with pd.option_context("display.max_rows", 999, "display.max_columns", 10):
    final_cake_revenue_overall_view = cake_revenue_overall_view.rename(columns={"Basic Cupcake:": "Basic Cupcakes Sold",
                                              "Delux Cupcakes": "Deluxe Cupcakes Sold",
                                              "Total Basic Cupcake": "Total Basic Cupcake Revenue",
                                              "Total Deluxe Cupcake": "Total Deluxe Cupcake Revenue",
                                              "Total": "Total Overall Cupcake Revenue"})
    display(final_cake_revenue_overall_view)

                 Basic Cupcakes Sold  Deluxe Cupcakes Sold  \
Year Month Week
2017 8     35                     27                    32
     9     35                     21                    31
           36                     50                    44
           37                     61                    51
           38                     61                    48
           39                     65                    58
     10    39                      3                     6
           40                     63                    56
           41                     52                    78
           42                     46                    51
           43                     41                    60
           44                     17                    15
     11    44                     47                    49
           45                     52                    67
           46                     71                    68
           47                     74                    67
           48                     29                    33
     12    48                     24                    18
           49                     55                    58
           50                     66                    80
           51                     54                    50
           52                     56                    58
2018 1     1                      53                    65
           2                      46                    47
           3                      51                    39
           4                      53                    33
           5                      19                    11
     2     5                      25                    20
           6                      60                    69
           7                      58                    53
           8                      54                    33
           9                      24                    18
     3     9                      34                    40
           10                     58                    75
           11                     71                    49
           12                     56                    63
           13                     39                    58
     4     13                      2                     8
           14                     48                    69
           15                     69                    70
           16                     43                    55
           17                     72                    67
           18                     13                     2
     5     18                     62                    31
           19                     62                    72
           20                     37                    55
           21                     38                    54
           22                     25                    14
     6     22                     26                    34
           23                     64                    50
           24                     53                    47
           25                     59                    58
           26                     49                    62
     7     26                     10                    10
           27                     81                    57
           28                     52                    52
           29                     61                    42
           30                     50                    69
           31                      9                    14
     8     31                     31                    24
           32                     70                    48
           33                     56                    74
           34                     41                    52
           35                     55                    31
     9     35                     21                    14
           36                     48                    64
           37                     42                    32
           38                     60                    50
           39                     74                    44
     10    40                     72                    54
           41                     51                    64
           42                     57                    46
           43                     64                    60
           44                     24                    20
     11    44                     24                    26
           45                     77                    41
           46                     65                    84
           47                     45                    71
           48                     44                    58
     12    1                       8                    11
           48                     23                    20
           49                     33                    56
           50                     46                    49
           51                     64                    57
           52                     48                    65
2019 1     1                      51                    65
           2                      61                    43
           3                      40                    43
           4                      74                    72
           5                      39                    25
     2     5                      23                    29
           6                      67                    64
           7                      50                    69
           8                      44                    58
           9                      40                    44
     3     9                      36                     7
           10                     63                    41
           11                     55                    60
           12                     40                    47
           13                     60                    84
     4     14                     59                    54
           15                     72                    73
           16                     63                    72
           17                     65                    63
           18                     13                    14
     5     18                     36                    57
           19                     62                    37
           20                     63                    55
           21                     52                    63
           22                     41                    14
     6     22                     21                    25
           23                     62                    64
           24                     53                    55
           25                     44                    64
           26                     53                    50
     7     27                     48                    60
           28                     64                    58
           29                     54                    63
           30                     58                    67
           31                     27                    25
     8     31                     39                    35
           32                     57                    44
           33                     69                    62
           34                     59                    46
           35                     54                    52
     9     35                      5                    13
           36                     39                    56
           37                     33                    46
           38                     69                    47
           39                     63                    45
           40                      3                     1
     10    40                     50                    52
           41                     43                    44
           42                     52                    44
           43                     56                    54
           44                     36                    32
     11    44                     31                    17
           45                     59                    57
           46                     72                    51
           47                     55                    65
           48                     66                    54
     12    1                      15                    22
           48                     15                    14
           49                     50                    61
           50                     59                    73
           51                     64                    64
           52                     79                    39
2020 1     1                      36                    44
           2                      76                    65
           3                      51                    55
           4                      63                    56
           5                      23                    49
     2     5                      17                    20
           6                      61                    59
           7                      65                    36
           8                      56                    51
           9                      54                    52
     3     9                       7                    11
           10                     77                    64
           11                     81                    43
           12                     45                    54
           13                     63                    62
           14                     16                    10
     4     14                     40                    36
           15                     53                    55
           16                     48                    57
           17                     37                    56
           18                     42                    41
     5     18                     19                    25
           19                     66                    65
           20                     78                    59
           21                     52                    34

                 Total Basic Cupcake Revenue  Total Deluxe Cupcake Revenue  \
Year Month Week
2017 8     35                            135                           192
     9     35                            105                           186
           36                            250                           264
           37                            305                           306
           38                            305                           288
           39                            325                           348
     10    39                             15                            36
           40                            315                           336
           41                            260                           468
           42                            230                           306
           43                            205                           360
           44                             85                            90
     11    44                            235                           294
           45                            260                           402
           46                            355                           408
           47                            370                           402
           48                            145                           198
     12    48                            120                           108
           49                            275                           348
           50                            330                           480
           51                            270                           300
           52                            280                           348
2018 1     1                             265                           390
           2                             230                           282
           3                             255                           234
           4                             265                           198
           5                              95                            66
     2     5                             125                           120
           6                             300                           414
           7                             290                           318
           8                             270                           198
           9                             120                           108
     3     9                             170                           240
           10                            290                           450
           11                            355                           294
           12                            280                           378
           13                            195                           348
     4     13                             10                            48
           14                            240                           414
           15                            345                           420
           16                            215                           330
           17                            360                           402
           18                             65                            12
     5     18                            310                           186
           19                            310                           432
           20                            185                           330
           21                            190                           324
           22                            125                            84
     6     22                            130                           204
           23                            320                           300
           24                            265                           282
           25                            295                           348
           26                            245                           372
     7     26                             50                            60
           27                            405                           342
           28                            260                           312
           29                            305                           252
           30                            250                           414
           31                             45                            84
     8     31                            155                           144
           32                            350                           288
           33                            280                           444
           34                            205                           312
           35                            275                           186
     9     35                            105                            84
           36                            240                           384
           37                            210                           192
           38                            300                           300
           39                            370                           264
     10    40                            360                           324
           41                            255                           384
           42                            285                           276
           43                            320                           360
           44                            120                           120
     11    44                            120                           156
           45                            385                           246
           46                            325                           504
           47                            225                           426
           48                            220                           348
     12    1                              40                            66
           48                            115                           120
           49                            165                           336
           50                            230                           294
           51                            320                           342
           52                            240                           390
2019 1     1                             255                           390
           2                             305                           258
           3                             200                           258
           4                             370                           432
           5                             195                           150
     2     5                             115                           174
           6                             335                           384
           7                             250                           414
           8                             220                           348
           9                             200                           264
     3     9                             180                            42
           10                            315                           246
           11                            275                           360
           12                            200                           282
           13                            300                           504
     4     14                            295                           324
           15                            360                           438
           16                            315                           432
           17                            325                           378
           18                             65                            84
     5     18                            180                           342
           19                            310                           222
           20                            315                           330
           21                            260                           378
           22                            205                            84
     6     22                            105                           150
           23                            310                           384
           24                            265                           330
           25                            220                           384
           26                            265                           300
     7     27                            240                           360
           28                            320                           348
           29                            270                           378
           30                            290                           402
           31                            135                           150
     8     31                            195                           210
           32                            285                           264
           33                            345                           372
           34                            295                           276
           35                            270                           312
     9     35                             25                            78
           36                            195                           336
           37                            165                           276
           38                            345                           282

In [41]:
currency_included_cake_revenue_overall_view = cake_revenue_overall_view.copy()

currency_included_cake_revenue_overall_view[['Total','Total Basic Cupcake','Total Deluxe Cupcake']] = currency_included_cake_revenue_overall_view[['Total','Total Basic Cupcake','Total Deluxe Cupcake']].applymap('£{:,.2f}'.format)

currency_included_cake_revenue_overall_view

                 Basic Cupcake:  Delux Cupcakes Total Basic Cupcake  \
Year Month Week
2017 8     35                27              32             £135.00
     9     35                21              31             £105.00
           36                50              44             £250.00
           37                61              51             £305.00
           38                61              48             £305.00
...                         ...             ...                 ...
2020 4     18                42              41             £210.00
     5     18                19              25              £95.00
           19                66              65             £330.00
           20                78              59             £390.00
           21                52              34             £260.00

                Total Deluxe Cupcake    Total
Year Month Week
2017 8     35                £192.00  £327.00
     9     35                £186.00  £291.00
           36                £264.00  £514.00
           37                £306.00  £611.00
           38                £288.00  £593.00
...                              ...      ...
2020 4     18                £246.00  £456.00
     5     18                £150.00  £245.00
           19                £390.00  £720.00
           20                £354.00  £744.00
           21                £204.00  £464.00

[172 rows x 5 columns]